<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://ch.qos.logback/xml/ns/logback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback http://ch.qos.logback/xml/ns/logback/logback.xsd" scan="true"
    scanPeriod="60 seconds" debug="true">
    <property name="APP_Name" value="sweb" />
    <property name="charset" value="UTF-8" />
    <contextName>${APP_Name}</contextName>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%20thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>
    <logger name="org.springframework.security" level="DEBUG"></logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>  